.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.component {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.error {
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
}